.window-outside-border {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  border: 20px solid white;
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.smaller-window {
    flex-basis: 48%;
    border: 4px solid grey;
    height: 220px;
}
